<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <!-- General -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
  <meta name="robots" content="index, follow">

  <!-- Check for Javascript -->
  <script>
    /* eslint-disable */
    var html = document.getElementsByTagName('html')[0];
    html.classList.remove('no-js');
    html.classList.add('js');
    /* eslint-enable */
  </script>

  <!-- Title -->
  <title>Quiz | Tim Schneider</title>
  <meta name="description" content="Just a simple Quiz build with React.">
  <meta name="keywords" content="Quiz, HTML, CSS, Sass/SCSS, Javascript, TypeScript, React, Webpack">

  <!-- Favicons -->
  <link rel="icon" type="image/png" sizes="16x16" href="./assets/images/favicons/favicon--16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./assets/images/favicons/favicon--32x32.png">
  <link rel="icon" type="image/png" sizes="192x192" href="./assets/images/favicons/android-chrome--192x192.png">
  <meta name="theme-color" content="#0f0f14">
  <link rel="manifest" href="./assets/images/favicons/manifest.json">
  <link rel="apple-touch-icon" sizes="57x57" href="./assets/images/favicons/apple--57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="./assets/images/favicons/apple--60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="./assets/images/favicons/apple--72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="./assets/images/favicons/apple--76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="./assets/images/favicons/apple--114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="./assets/images/favicons/apple--120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="./assets/images/favicons/apple--144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="./assets/images/favicons/apple--152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="./assets/images/favicons/apple--180x180.png">
  <meta name="msapplication-TileColor" content="#15151b">
  <meta name="msapplication-TileImage" content="./assets/images/favicons/mstile--144x144.png">
  <meta name="msapplication-config" content="./assets/images/favicons/browserconfig.xml">
  <link rel="mask-icon" href="./assets/images/favicons/safari-pinned-tab.svg" color="#15151b">

  <!-- Canonical Link -->
  <link rel="canonical" href="https://projects.timschneider.xyz/quiz">

  <!-- CSS -->

</head>

<body>

  <!-- Header -->
  <header class="o-wrapper c-header">
    <section class="o-section">

      <h1>Quiz</h1>

    </section>
  </header>

  <!-- Quiz -->
  <main class="o-wrapper c-quiz">
    <section class="o-section">

      <div id="quiz" class="c-quiz__container"></div>

    </section>
  </main>

  <!-- Footer -->
  <footer class="o-wrapper c-footer">
    <section class="o-section">

      <div class="c-footer__links">
        <a href="https://github.com/RanzigeButter/Quiz" target="_blank" rel="noreferrer noopener">Repository</a>
        <a href="https://timschneider.xyz" target="_blank" rel="noreferrer noopener">Main Page</a>
      </div>

    </section>
  </footer>

</body>

</html>
