/*  ========================================================================
    # Settings - Font Families
    ========================================================================  */

$font-family__serif: 'Lora', 'Georgia', 'Times New Roman', serif;
$font-family__sans-serif: 'Noto Sans', 'Helvetica', 'Arial', sans-serif;

// Set fonts
$font-family__headline: $font-family__serif;
$font-family__base: $font-family__sans-serif;
