/*  ========================================================================
    # Settings - Colors
    ========================================================================  */

// General
$color__background: #15151b; // rgba(21, 21, 27, 1)
$color__background--light: #252530; // rgba(37, 37, 48, 1)
$color__background--dark: #0f0f14; // rgba(15, 15, 20, 1)
$color__font: #f8f8f8; // rgba(248, 248, 248, 1)
$color__font--second: #888888; // rgba(143, 143, 143, 1)
$color__accent: #ee3434; // rgba(238, 52, 52, 1)

// Social Media
$color__twitter: #1da1f2; // rgba(29, 161, 242, 1)
$color__youtube: #ff0000; // rgba(255, 0, 0, 1)
$color__github: #9f7be1; // rgba(159, 123, 225, 1)
$color__spotify: #1ed760; // rgba(30, 215, 96, 1)
$color__discord: #7289da; // rgba(114, 137, 218, 1)
$color__xing: #006567; // rgba(0, 101, 103, 1)
$color__linkedin: #0065a1; // rgba(0, 101, 161, 1)
